* {
  margin: 0;
  padding: 0;
  font-family: "Palatino Linotype", Arial;
  font-size: 16px;
  line-height: 1.6;
}

#home {
  z-index: 1;
}
/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {
  display: none;
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width: 680px) {
  ul.topnav li:not(:first-child) {
    display: none;
  }
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width: 680px) {
  ul.topnav.responsive {
    position: relative;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

/* Remove margins and padding from the list, and add a background color */
ul.topnav {
  list-style-type: none;
  letter-spacing: 2px;
  margin: 0;
  padding: 16px 16px;
  overflow: hidden;
  background-color: #013253;
  z-index: 3;
}

/* Float the list items side by side */
ul.topnav li {
  float: left;
}

/* Style the links inside the list items */
ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 12px;
}

#my-topnav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 0 0 0;
  overflow: hidden;
  list-style-type: none;
  background: linear-gradient(
    to right,
    rgba(57, 19, 57, 0.9),
    rgba(19, 38, 57, 0.9)
  );
  /*background-color: #123;*/
  width: 100%;
}

#my-topnav a {
  display: block !important;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 14px 14px 14px;
}

#my-topnav a:hover {
  padding: 14px 14px 14px 14px;
  background-color: #505;
}

/* Dropdown Button */
.dropbtn {
  color: white;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.nav-dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background: linear-gradient(
    to right,
    rgba(19, 38, 57, 0.9),
    rgba(57, 19, 57, 0.9)
  );
}

/* Links inside the dropdown */
.dropdown-content a {
  text-decoration: none;
  display: inline-block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.nav-dropdown:hover .dropdown-content {
  display: inline-block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.nav-dropdown:hover .dropbtn {
  background-color: rgba(19, 38, 57, 0.9);
}

#navbar {
 padding-top: 115px;
}

nav {
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #ffe873;
  overflow: auto;
  border-bottom: 1px solid #646464;
  
}
nav img {
  max-width: 200px;
  padding-top: 20px;
}
code {
  text-decoration: none;
  font-family: Sans;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 0px 4px;
  margin: 0px 4px;
}
p {
  padding: 10px 0px;
}
h2 {
  padding: 8px;
  font-size: 20px;
}
footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(to bottom right, #4b8bbe, #306998);
  color: #ddd;
  text-align: center;
}
.nav-link {
  display: block;
  border: 1px solid #646464;
  padding: 4px 0px;
  color: #306998;
  background: linear-gradient(to right, #ffe873, #ffd43b);
  font-weight: bold;
  border-right-width: 0px;
  border-left-width: 0px;
}
.sub-link {
  display: block;
  padding: 4px 0px;
  color: #646464;
  background: linear-gradient(to right, #ffe873, #ffd43b);
  border: 1px solid #646464;
  text-decoration: none;
  border-right-width: 0px;
  border-left-width: 0px;
}
.main-section {
  padding-top: 20px;
  font-size: 14px;
}

/* Scrollbar width  (Custom scrollbars are not supported in Firefox or IE/Edge.)*/
::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Smallest devices (600px or less) -Mobile First- */
@media (max-width: 600px) {
  nav {
    display: block;
    position: absolute;
    padding-top: 70px;
    width: 100%;
    height: 200px;
    text-align: center;
    z-index: 1;
  }
  main {
    position: absolute;
    padding: 270px 10px 40px 10px;
    width: 90vw;
    z-index: 0;
  }
  p {
    padding: 5px 0px;
  }
  h2 {
    padding: 8px;
    font-size: 16px;
  }
  a:target {
    padding-top: 280px;
  }
  .main-section:target {
    padding-top: 70px;
    margin-top: -70px;
  }
  .nav-header h1 {
    position: fixed;
    top: 0;
    padding-top: 6px;
    background: linear-gradient(to right, #fff, #eee, #ddd);
    width: 100%;
    border-bottom: 1px solid #646464;
  }
  .nav-link {
    width: 100%;
    text-align: center;
    border-bottom-width: 0px;
  }
  .sub-link {
    width: 100%;
    text-align: center;
    border-bottom-width: 0px;
    border-top-width: 0px;
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ffe873;
    color: black;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
  }

  #myBtn:hover {
    background-color: #646464;
    color: white;
  }
}

/* Small to Medium devices (600px to 992px) */
@media only screen and (min-width: 600px) and (max-width: 992px) {
  nav {
    display: block;
    position: fixed;
    padding: 94px 0 30px 0;
    text-align: left;
    bottom: 14px;
    border-bottom: 15px solid #646464;
  }
  nav img {
    display: block;
    margin: 0 auto;
  }
  main {
    padding: 30px 2px 40px 290px;
    width: 60vw;
  }
  .nav-header h1 {
    position: fixed;
    top: 0;
    padding-top: 10px;
    background: linear-gradient(to right, #fff, #eee, #ddd);
    width: 270px;
    border-bottom: 1px solid gray;
    margin: 0 auto;
  }
  .nav-link {
    padding: 10px 0px;
    width: 270px;
    text-align: left;
    border-bottom-width: 0px;
  }
  .sub-link {
    padding: 1px 0px;
    width: 270px;
    border-bottom-width: 0px;
    border-top-width: 0px;
  }
}

/* Large devices (992px and up) */
@media (min-width: 992px) {
  nav {
    display: block;
    position: fixed;
    padding: 94px 0 44px 0;
    text-align: left;
    bottom: 28px;
  }
  nav img {
    display: block;
    margin: 0 auto;
  }
  main {
    padding: 30px 2px 40px 290px;
    width: 70%;
  }
  .nav-header h1 {
    position: fixed;
    top: 0;
    padding-top: 10px;
    background: linear-gradient(to right, #fff, #eee, #ddd);
    width: 270px;
    border-bottom: 1px solid gray;
  }
  .nav-link {
    padding: 10px 0px;
    width: 270px;
    border-bottom-width: 0px;
  }
  .sub-link {
    padding: 1px 0px;
    width: 270px;
    border-bottom-width: 0px;
    border-top-width: 0px;
  }
}

@supports (-moz-appearance: none) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Palatino Linotype", Arial;
    font-size: 16px;
    line-height: 1.6;
  }
  nav {
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #ffe873;
    overflow: auto;
    border-bottom: 1px solid #646464;
  }
  nav img {
    max-width: 200px;
  }
  code {
    text-decoration: none;
    font-family: Sans, Arial;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 0px 4px;
    margin: 0px 4px;
  }
  p {
    padding: 10px 0px;
  }
  h2 {
    padding: 8px;
    font-size: 20px;
  }
  footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom right, #4b8bbe, #306998);
    color: #ddd;
    text-align: center;
  }
  .nav-link {
    display: block;
    border: 1px solid #646464;
    padding: 4px 0px;
    color: #306998;
    background: linear-gradient(to right, #ffe873, #ffd43b);
    font-weight: bold;
    border-right-width: 0px;
    border-left-width: 0px;
  }
  .sub-link {
    display: block;
    padding: 0px 0px;
    color: #646464;
    background: linear-gradient(to right, #ffe873, #ffd43b);
    border: 1px solid #646464;
    text-decoration: none;
    border-right-width: 0px;
    border-left-width: 0px;
  }
  .main-section {
    font-size: 14px;
  }

  /* Smallest devices (600px or less) -Mobile First- */
  @media (max-width: 600px) {
    nav {
      display: block;
      position: absolute;
      padding-top: 70px;
      width: 100%;
      height: 200px;
      text-align: center;
      z-index: 1;
    }
    main {
      position: absolute;
      padding: 270px 10px 40px 10px;
      width: 90vw;
      z-index: 0;
    }
    p {
      padding: 5px 0px;
    }
    h2 {
      padding: 8px;
      font-size: 16px;
    }
    a:target {
      padding-top: 280px;
    }
    .main-section:target {
      padding-top: 70px;
      margin-top: -70px;
    }
    .nav-header h1 {
      position: fixed;
      top: 0;
      padding-top: 6px;
      background: linear-gradient(to right, #fff, #eee, #ddd);
      width: 100%;
      border-bottom: 1px solid #646464;
    }
    .nav-link {
      width: 100%;
      text-align: center;
      border-bottom-width: 0px;
    }
    .sub-link {
      width: 100%;
      text-align: center;
      border-bottom-width: 0px;
      border-top-width: 0px;
    }
    #myBtn {
      display: none;
      position: fixed;
      bottom: 40px;
      right: 20px;
      z-index: 99;
      border: none;
      outline: none;
      background-color: #ffe873;
      color: black;
      cursor: pointer;
      padding: 8px 12px;
      border-radius: 4px;
      font-size: 16px;
    }

    #myBtn:hover {
      background-color: #646464;
      color: white;
    }
  }

  /* Small to Medium devices (600px to 992px) */
  @media only screen and (min-width: 600px) and (max-width: 992px) {
    nav {
      display: block;
      position: fixed;
      padding: 94px 0 30px 0;
      text-align: left;
      bottom: 14px;
      border-bottom: 15px solid #646464;
    }
    nav img {
      display: block;
      margin: 0 auto;
    }
    main {
      padding: 30px 2px 40px 290px;
      width: 60vw;
    }
    .nav-header h1 {
      position: fixed;
      top: 0;
      padding-top: 10px;
      background: linear-gradient(to right, #fff, #eee, #ddd);
      width: 270px;
      border-bottom: 1px solid gray;
      margin: 0 auto;
    }
    .nav-link {
      padding: 10px 0px;
      width: 270px;
      text-align: left;
      border-bottom-width: 0px;
    }
    .sub-link {
      padding: 1px 0px;
      width: 270px;
      border-bottom-width: 0px;
      border-top-width: 0px;
    }
  }

  /* Large devices (992px and up) */
  @media (min-width: 992px) {
    nav {
      display: block;
      position: fixed;
      padding: 94px 0 44px 0;
      text-align: left;
      bottom: 28px;
    }
    nav img {
      display: block;
      margin: 0 auto;
    }
    main {
      padding: 30px 2px 40px 290px;
      width: 70%;
    }
    .nav-header h1 {
      position: fixed;
      top: 0;
      padding-top: 10px;
      background: linear-gradient(to right, #fff, #eee, #ddd);
      width: 270px;
      border-bottom: 1px solid gray;
    }
    .nav-link {
      padding: 10px 0px;
      width: 270px;
      border-bottom-width: 0px;
    }
    .sub-link {
      padding: 1px 0px;
      width: 270px;
      border-bottom-width: 0px;
      border-top-width: 0px;
    }
  }
}
